.main-container{
    display: flex;
    justify-content: space-around;
}
.cart-container{
    width: 300px;
    height: auto;
    box-shadow: 4px 4px 8px gray;
    margin: auto;
    text-align: center;
    position: fixed;
    border-radius: 8px;
    top: 0;
    right: 0;
}
.product-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    text-align: center;
}
.card-img{
    width: 25%;
}
.card-info{
    display: flex;
    justify-content: space-around;
    gap: 10px;
}